body {
    background-image: url('../../images/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.viewport-height {
    min-height: 100vh;
}