:root{
    --wt-color: #119618;
    --wt-grey: #d5d5d5;
}

.option-label {
    height: 100%;
    width: 50px;
    color: black;
}

.option-edit{
    padding: 0 !important;
}

.bg-panel{
    background-color: #f3f3f3;
}

.wt-option{
    background-color: var(--wt-grey);
    border-right: 6px solid var(--wt-grey);
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    grid-auto-rows: 1fr;
    transition: width 2s;
}

.rotateZ {
    transform: rotateZ(180deg);
}

.wt-option:focus-within {
    background-color: var(--wt-color);
    border-color: var(--wt-color);
}

.wt-option:focus-within .option-label{
    color: white;
}

.bg-gray{
    background-color: #f0efef;
}

.TreeItem{
    padding-left: 8px !important;
}

.TreeItem-label{
    font-size: 16px !important;
}


.TreeItem-icon {
    color: #0bb431 !important;
}

.TreeItem-selected, .TreeItem-selected *{
    background-color: #fafafa !important;
}

.TreeItem-icon svg{
    font-size: 14px !important;
}
