:root{
    --wt-color: #119618;
}

.option-label {
    height: 100%;
    width: 50px;
    color: white;
}

.option-edit{
    padding: 0 !important;
}

.bg-panel{
    background-color: #d8d8d8;
}

.wt-option{
    background-color: var(--wt-color);
    border-right: 4px solid var(--wt-color);
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    transition: width 2s;
}

.wt-option:focus-within {
    background-color: #00ca2b;
    border-color: #00ca2b;
}